$color-highlight: #ffffff;
$color-focus: #ff0000;

@import "../skin-modern/skin";

.#{$prefix}-ui-uicontainer {
  font-family: var(
    --font-body,
    Inter,
    -apple-system,
    system-ui,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif
  );

  .#{$prefix}-seekbar {
    .#{$prefix}-seekbar-bufferlevel {
      background-color: transparentize($color-highlight, 0.9);
    }

    .#{$prefix}-seekbar-playbackposition-marker {
      background-color: $color-highlight;
    }
  }

  .#{$prefix}-ui-listbox-button {
    &.#{$prefix}-selected {
      background-color: transparentize($color-highlight, 0.9);
    }

    &:hover {
      background-color: transparentize($color-highlight, 0.8);
    }
  }

  .#{$prefix}-ui-watermark {
    display: none;
  }

  .#{$prefix}-ui-subtitle-overlay {
    bottom: 1em;
  }

  .#{$prefix}-ui-titlebar.with-backbutton {
    padding-left: 3em;

    .#{$prefix}-label-metadata-title {
      font-size: 1.2em;
      line-height: 1.5em;
    }
  }

  .#{$prefix}-ui-backbutton {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZWZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaGV2cm9uLWxlZnQiPjxwYXRoIGQ9Im0xNSAxOC02LTYgNi02Ii8+PC9zdmc+");
    position: absolute;
    left: 1em;
    font-size: 1.2em;
    padding: 0;
  }

  .#{$prefix}-ui-controlbar.with-special-controls {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    padding: 0;

    .#{$prefix}-controlbar-primary {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;

      > .#{$prefix}-container-wrapper {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3em;
      }

      .#{$prefix}-ui-quickseekbutton,
      .#{$prefix}-ui-playbacktogglebutton {
        font-size: 1.5em;
      }
    }

    .#{$prefix}-controlbar-secondary {
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      padding: 1em 1em 0.5em;
    }
  }
}
